<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/navbar %>
    <div class="px-3 pb-6">
      <div class="container">
        <h1 class="title">실험 상세/수정</h1>
        <form action="/admin/experiments/<%= experiment.id %>" method="POST">
          <div class="columns">
            <label for="name" class="column">
              실험 ID
              <input
                type="text"
                class="input"
                name="name"
                id=""
                value="<%- experiment.id %> "
                disabled
              />
            </label>
          </div>

          <div class="columns">
            <label for="name" class="column">
              소유자
              <input
                type="text"
                class="input"
                name="name"
                id=""
                value="<%= experiment.userEmail %>"
                disabled
              />
            </label>
          </div>

          <div class="columns">
            <label for="name" class="column">
              실험명
              <input
                type="text"
                class="input"
                name="name"
                value="<%- experiment.name %>"
                id=""
              />
            </label>
          </div>
          <div class="columns">
            <label for="" class="column is-desktop">
              실험 설명
              <textarea class="textarea">
<%- experiment.description %></textarea
              >
            </label>
          </div>
          <div class="columns">
            <label for="" class="column is-desktop">
              실험 링크
              <input class="input" type="text" disabled value="hello world" />
              <!-- TODO: ADD 실험 링크 -->
            </label>
          </div>
          <div>실험파일</div>
          <div class="file has-name">
            <label class="file-label">
              <!-- <input class="file-input" type="file" name="resume" /> -->
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-download"></i>
                </span>
                <span class="file-label"> 파일 다운로드 </span>
              </span>
              <span class="file-name"> <%= experiment.fileName %> </span>
            </label>
          </div>
          <!-- 모달 끝 -->
          <button type="submit" class="button is-success is-pulled-right">
            저장하기
          </button>
          <button
            id="delete-this-experiment"
            type="button"
            class="button is-danger is-pulled-right mr-2"
          >
            삭제하기
          </button>
        </form>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(() => {
      $("#search-experiments").DataTable();
      $("#qr").attr(
        "url",
        "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=somedata"
      );
      $("#delete-this-experiment").on("click", () => {
        if (confirm("정말로 삭제하시겠습니까?")) {
          $.ajax({
            url: "/admin/experiments/<%= experiment.id %>",
            method: "DELETE",
          })
            .done(() => {
              alert("삭제되었습니다.");
              window.location.href = "/admin/experiments";
            })
            .fail(() => {
              alert("삭제에 실패했습니다.");
            })
            .always((response) => {
              console.log(response);
            });
        }
      });
    });
  </script>
</html>
